# https://zenn.dev/matken/articles/5-github-actions-for-running-start#1.-rhysd%2Factionlint
# actions„ÅÆlint
name: Actionlint

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash

      - name: Check workflow files
        run: ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash